In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import os 
# this is a function to return the last 4 digits of a credit card number
def last_four(num):
    return str(num)[-4:]



os.chdir(r'C:\Users\jogym\Documents\Jogy\Study\python\data\Pandas_excel')
cwd=os.getcwd()

csv_path=cwd + os.path.sep + 'movie_scores.csv'
df=pd.read_csv(csv_path)
df

Missing data
    - Keep it
    - Remove it
    - Replace it

    Drop a row or a column when lot of information is missing

In [ ]:
# NaN with NA

# np.NaN is replaced with np.NA
# np.nan == np.nan is false
# np.nan is np.nan is true

#checking nulls

# df.isnull() # returns true for all nulls

df.notnull() # returns false for all nulls

In [ ]:
#isnull
#notnull

df[df['pre_movie_score'].notnull()]

df[df['pre_movie_score'].isnull() & df['first_name'].notnull()]

In [ ]:
# Drop data
# Dropna

# df1=df.dropna(inplace=False) # drops columns having missing values

# #thresh
# df1.dropna(thresh=2) #this will drop rows that are not having atlease values in two fields


# #axis=1
# df1.dropna(axis=1)

#subset
df2=df.dropna(subset=['last_name']) # drops the row having lastname na
df2

In [ ]:
# #fillna
df_fillna=df.fillna('new_value')
df_fillna
# # filling only selected column na value with a new value
df[['pre_movie_score','post_movie_score']]=df[['pre_movie_score','post_movie_score']].fillna(value=0)
df

In [ ]:
# to fill the average, for nan values
print(df)
# df.fillna[df.mean()]
df['pre_movie_score']=df['pre_movie_score'].fillna(df['pre_movie_score'].mean())
# print(df['pre_movie_score'].mean())
print(df)

In [ ]:
sr= df['pre_movie_score']
sr
sr.interpolate()
# df.interpolate(method='polynomial', order=2)

In [2]:
os.chdir(r'C:\Users\jogym\Documents\Jogy\Study\python\data\Pandas_excel')
cwd=os.getcwd()

csv_path=cwd + os.path.sep + 'mpg.csv'
df_mpg=pd.read_csv(csv_path)
df_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

multiple column group by

In [3]:
year_cylinders=df_mpg.groupby(['model_year', 'cylinders']).mean()
print(year_cylinders.index.names)
print(year_cylinders.index.levels)

['model_year', 'cylinders']
[[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]]

In [ ]:
grabbing rows

In [8]:
year_cylinders.loc[70]
year_cylinders.loc[(70,4)]

mpg               25.285714
displacement     107.000000
weight          2292.571429
acceleration      16.000000
origin             2.285714
Name: (70, 4), dtype: float64

multi index group by

In [13]:
year_cylinders[year_cylinders['cylinders'].isin([6,8])]].groupby(['model_year'])

SyntaxError: unmatched ']' (818444472.py, line 1)