In [ ]:
import numpy as np
import pandas as pd

Useful methods of pandas
Apply()- method used to apply any logic on a column

In [ ]:
import os 
# this is a function to return the last 4 digits of a credit card number
def last_four(num):
    return str(num)[-4:]



os.chdir(r'C:\Users\jogym\Documents\Jogy\Study\python\data\Pandas_excel')
cwd=os.getcwd()

csv_path=cwd + os.path.sep + 'tips.csv'
df=pd.read_csv(csv_path)

df["CC Number"].apply(last_four)

.apply on multiple columns
There are two ways to apply
    1. using lambda
    2. using Vectorize. This is much faster than lamda.

In [ ]:
def quality(total_bill, tip):
    if tip/total_bill>0.25:
        return "Generous"
    else:
        return "Other"

In [ ]:
#1.using lambda
df[['total_bill','tip']].apply(lambda df:quality(df['total_bill'],df['tip']),axis=1)

In [ ]:
#2.using vectorize

df['quality']=np.vectorize(quality)(df['total_bill'],df['tip'])
df

Useful methods – Statistical information and sorting
		Sort

In [ ]:
# will sort on tip column
df.sort_values('tip')
df.sort_values('tip', ascending=True)

#sort based on multiple columns
df.sort_values(['tip', 'size'])

    Min Max

In [ ]:
# df['total_bill'].max()
# df['total_bill'].idxmax() # returns the index of the maximum value row

df.iloc[df['total_bill'].idxmax()] # returns the details of the row

In [ ]:
# Corelation between variables
df.corr()

In [ ]:
#Value Counts
vc=df['sex'].value_counts()
print(vc)
vc.loc['Male']

In [ ]:
#Unique
df['day'].unique()
df['day'].nunique()

In [78]:
#replace
df['sex'].replace('Female','F')
# df['replaced_status']=df['sex'].replace('Female','F')
# df.drop(['replaced_status'],axis=1,inplace=True)
df

# replace using map
# mymap={'Female':'F','Male':'M'}
# df['sex'].map(mymap)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [91]:
#Duplicate
df_head=df.head()
df_head

df_duplicate=pd.concat([df,df_head],axis=0)

#eliminating the duplicates
df_duplicate
# df_duplicate.duplicated()
# df_duplicate.drop_duplicates()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251