Creating a panda series

In [ ]:
import pandas as pd
import numpy as np

In [ ]:


# creating pandas series

myindex = ['USA','Canada','Mexico']
mydata=[1776,1867,1821]
myser=pd.Series(data=mydata)
print(myser)

# myser with index
myser=pd.Series(data=mydata,index=myindex)
print(myser)

# series from a dictionary

age={'sam':5,'Frank':10,'Mike':8}
myser=pd.Series(age)
print(myser)

Operations between series

In [ ]:
q1={'Japan':80,'India':50,'China':40}

q1_sales=pd.Series(q1)

# multiply
print(q1_sales*2)

q2={'Brazil':70,'India':60,'China':45}
q2_sales=pd.Series(q2)

# Adding 2 series
use the fill_value to remove nan, if the field is not present in a series

In [ ]:
q1_q2=q1_sales+ q2_sales
print(q1_q2)
q1_sales.add(q2_sales,fill_value=0)

Dataframe
Dataframe is a table of column and rows in pandas, that we can restructure and filter.
It is group of pandas series that share same index.

In [ ]:


mydata=np.random.randint(0,101,(4,3))
# print(mydata)

myindex=['CA','NY','AZ','TX']
mycolumns=['Jan','Feb','Mar']

df=pd.DataFrame(data=mydata,index=myindex,columns=mycolumns)
print(df.info())
print(df)

Dataframe properties

columns
index
info
describe
describe.transpose
head
tail

In [ ]:
# print(str(df.info) + '\n')
# print(df.index )
# print(df.columns )
# print(str(df.head) + '\n')
# print(str(df.tail) + '\n')
# print(str(df.describe)  + '\n')
print(str(df.describe().transpose)  + '\n')

Reading a csv file and creating a dataframe

In [ ]:
import os

os.chdir(r"C:\Users\jogym\Documents\Jogy\Study\python\data\Pandas_excel") # here r is used to denote a raw text. Else need //
print(os.getcwd())
df=pd.read_csv('tips.csv')
# print(df.info())

print(df["total_bill"])


print(df['total_bill']/df['tip'])

To add a column to the dataframe

In [ ]:
df['tip_percentage']=df['total_bill']/	df['tip']
df.describe

to remove column from the dataframe
Axis=0 is to remove rows 
Axis=1 is to remove columns

Do not use drop directly on a dataframe, instead it is preferred to copy it to a new object.

In [ ]:
df1 =df.drop(['tip_percentage'],axis=1)
df1.info()

Working with rows
To set a column as an index
Remove a column index

In [ ]:
# df.info
df2=df1.set_index("Payment ID",inplace=True)

dt=df2.loc[["Sun2959"]]
# df1.reset_index()

Locate a row
Grab multiple rows
Removing rows

In [ ]:
df1.iloc[0]

In [ ]:
df1.iloc[0:4]

Remove a row

In [ ]:
df1.drop('Sun2959',axis=0)
df1

To add a row

In [ ]:
add_new=df1.iloc[0]
# df2=df1.combine(add_new)

frames=[df1+add_new]
df2=pd.concat(frames)

print(df2)

In [ ]:
import os

os.chdir(r"C:\Users\jogym\Documents\Jogy\Study\python\data\Pandas_excel") # here r is used to denote a raw text. Else need //
print(os.getcwd())
df=pd.read_csv('tips.csv')

add_new=df.head()
print(df)
print("\n")
print(add_new)
print("\n")
print("\n")

# frames=[df+add_new]
df2=pd.concat([df,add_new], axis=0)
print(df2)

Conditional filtering in dataframe

In [13]:
# print(df)
os.chdir(r'C:\Users\jogym\Documents\Jogy\Study\python\data\Pandas_excel')
cwd=os.getcwd()

csv_path=cwd + os.path.sep + 'tips.csv'
# print(csv_path)
tips_df=pd.read_csv(csv_path)

bool_series=tips_df["total_bill"]>40
print(bool_series)

t=tips_df[bool_series] # or tips_df[tips_df["total_bill"]>40]
print(t)

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Name: total_bill, Length: 244, dtype: bool
     total_bill    tip     sex smoker   day    time  size  price_per_person  \
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08

          Payer Name         CC Number Payment ID
59       Brian Ortiz  6596453823950595    Sat8139
95     Aaron Bentley   180026611638690    Fri9628
102    Heather Cohen   379771118886604    Sat6240
142     Eric Andrews  4356531761046453   Thur3621
156    Ryan Gonzales  3523151482063321    Sun7518
170    Gregory Clark  5473850968388236    Sat1954
182     Jose Parsons  4112207559459910    Sun2337
184      Stephen Cox  3547798222044029    Sun5140
197      Brooke Soto  5544902205760175   Thur9313
212  Alex Williamson      676218815212    Sat4590

Use multiple condition for filtering

In [16]:
tips_df[(tips_df["total_bill"]>40) & (tips_df["sex"]=="Male")]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6596453823950595,Sat8139
95,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,Aaron Bentley,180026611638690,Fri9628
142,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4356531761046453,Thur3621
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3523151482063321,Sun7518
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5473850968388236,Sat1954
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4112207559459910,Sun2337
184,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,Stephen Cox,3547798222044029,Sun5140
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,676218815212,Sat4590

isin(Options)